{% extends "base.html" %}
{% block nav %}{% include "nav-menu.html" %}{% endblock nav %}
{% block content %}
<div class="padding">
	<h2>Bicicletas disponíveis:</h2>
	<div class="row">
		{% for b in bicicletas %}
			<div class="col s6">
				<div class="card">
					<div class="card-content">
						<p class="card-title"><span class="white chip">{{b.id}}</span> {{b.modelo}}</p>
						<p>
							<span class="chip"><span class="chip black-text">Local: </span>{{b.areaAtual.nome}}</span>
							{% if b.emManutencao %}
							<span class="chip red darken-3 white-text"><span class="chip red darken-3 white-text">Status: </span>Em manutenção</span>
							{%else%}
							<span class="chip"><span class="chip black-text">Status: </span>Pronta para uso</span>
							{% endif %}
						</p>
					</div>
					<div class="card-action">
					{% if not b.statusAluguel %}
						<a href="{% url "controle-bicicleta" b.id %}" class="btn">{% if not b.emManutencao %}
							enviar para conserto
							{% else %}
							retornar a frota
						{% endif %}</a>
						<a class="btn" href="{% url 'editar-bicicleta' b.pk %}">Editar</a>
						<a class="btn" href="{% url 'excluir-bicicleta' b.pk %}">Excluir</a>
						</div>
					{% endif %}
				</div>
			</div>
		{% endfor %}
		</div>
</div>
{% endblock content %}